*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    
}

#divBusca{
    
    display:flex;
    justify-content:left;
    align-items: right;
    background-color:#ffffff83;
    border:solid 1px;
    border-radius:10px;
    width:300px;
    max-width: 340px;
    max-height: 40px;
   
  }
  
#txtBusca{
    float:left;
    background-color:#FCAB48;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}
#btnBusca{
    padding-top: 5px;
    width: 25px;

}


.background{
    height: 220px;
    background-image: url(imagens/123.jpg);
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    max-width: 100%;
    height: 560px;
}

header{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: #111;
    transition: all .35s ease;
    padding: 10px 14%;
}


#logo{
    width:150px;
    height:150px;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
}

.cabeçalho-link a{
    color: #FCAB48;
    font-size: 22px;
    font-weight: 1000;
    transition: 0.3s;
    font-family:Arial, Helvetica, sans-serif;
    

}

.cabeçalho-link a:hover{
    color: #ffffff;
}

.icon span{
    font-size: 2rem;
    cursor: pointer;
}

.icon span:hover{
    color: #ffffff;
}

.Meio{
    padding: 7rem 0 0 8.5rem;
    line-height: 4rem;
}

.Meio h1{
    font-size: 4rem;

    
}

.Meio button{
    background-color: #c8815f;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
   font-size: 1rem;
   cursor: pointer;
   transition: 0.3s;

}

.Meio button:hover{
      background-color: #11111131;
      transform: scaleY(1.2);
}

section{
    padding-top: 7rem;
}

section h1{
    align-items: center;
    text-align: center;
    font-size: 2rem;
    
}

.Container-card-1{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 2rem;
    padding-top: 2rem;
   
}

.cards img{
    width: 250px;
    height: 250px;
    transition: 0.35s ease;
    border-radius: 10px;
}

.cards img:hover{
 transform: scale(0.9) translateY(-5px);
     cursor: pointer;
     
}

.cta{
    height: 60vh;
    width: 100%;
    background: url("imagens/123.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-top: 5rem;
    padding-top: 25%;
}

.text-cta{
    padding-left: 5rem;
    padding-bottom: 10%;

}

.text-cta h4{
    font-size: 40px;
	line-height: 1.2;
	letter-spacing: .6rem;
	margin-bottom: 100px;
}

.text-cta a{
    background-color: #811616;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
   font-size: 1rem;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   cursor: pointer;
   transition: 0.3s;
}

.text-cta a:hover{
    background-color: #c21c1c;
      transform: scaleY(1.2);

}

.sec1{
    padding-top:10%; 
    font-size: 5px;
}

.button a{
    background-color: #811616;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
   font-size: 1rem;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   cursor: pointer;
   transition: 0.3s;
}

.button a:hover{
    background-color: #c21c1c;
      transform: scaleY(1.2);

}



#Contato{
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: #111;
    padding: 8rem;
    margin-top: 5rem;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.meio-contato li a{
    display: block;
    color: #555;
    font-weight: 600;
    transition: all .35s ease;
    font-size: 20px;
    
}

.last-text{
    text-align: center;
    background-color: #555;
    color: #fff;
}
h1{
        color: rgb(170, 169, 169); 
        text-align: center;
        
}
h2{
        color: rgb(170, 169, 169);
        padding-bottom: 20px;
        padding-left: 20px;
        font-size: 30px;
}
h3{
    color: rgb(170, 169, 169);
    padding-top: 6%;
    padding-left: 40%;
    font-size: 35px;
}
h4{
    color: white;

}
h5{
    color: rgb(255, 255, 255);
    padding-right: 3%;
    font-size: 30px;  
    padding-bottom:40px;
}

#banner{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("123.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
